#mainNavBar{
	background-color: transparent;
	border: none;
}
#mainNavBar .navbar-nav>li>a{
	margin: 0 10px;
}
#mainNavBar .navbar-nav>li>a{
	color: #FFF;
	border-bottom: 1px dotted transparent;	
}
#mainNavBar .navbar-nav>li>a:focus, #mainNavBar .navbar-nav>li>a:hover{
	color: #FFF;
	border-bottom: 1px dotted #FFF;	
}
#mainNavBar .navbar-nav.invert>li>a{
	color: #444;
}
#mainNavBar .navbar-nav.invert>li>a:focus, #mainNavBar .navbar-nav.invert>li>a:hover{
	color: #444;
	border-bottom: 1px dotted #444;	
}